body {
    font-family: 'Inter', sans-serif;
    background-color: #111827; /* bg-gray-900 */
    color: #d1d5db; /* text-gray-300 */
}

main {
    background-color: #1f2937; /* bg-gray-800 */
}

.section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav-link {
    transition: all 0.3s ease;
    position: relative;
}
.nav-link:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #3b82f6; /* blue-500 */
    transition: width 0.3s ease;
}
.nav-link:hover:after, .nav-link.active:after {
    width: 100%;
}
.glass-effect {
    background: rgba(31, 41, 55, 0.5); /* bg-gray-800 with opacity */
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.skill-card, .project-card, .experience-item {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-card, .project-card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.project-card > .p-6 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}


.skill-card:hover, .project-card:hover, .experience-item .glass-effect:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px -3px rgba(59, 130, 246, 0.2), 0 4px 6px -2px rgba(59, 130, 246, 0.1);
}


#scrollToTopBtn {
    transition: opacity 0.3s, visibility 0.3s;
}

.container-main {
    max-width: 1200px;
    margin: 0 auto;
}

.blog-card {
    height: 400px;
}

.blog-card .card-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blog-logo-top {
    width: 25%;
    height: 25%;
    object-fit: contain;
    display: block;
    margin: auto;
    border-radius:50%;
    margin-top: 20px;
}
